*.orig
*dttoolstempnunitproject.nunit
*.vspscc
*.vssscc
*.user
*.suo
*.gpState
*.resharper
Thumbs.db
obj/
[Bb]in/
[Ii]mage/
[Dd]ebug*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.dotCover

Shinetech.PlanPoker/packages/*
!repositories.config
UpgradeLog*.*
Shinetech.PlanPoker/Backup/
Shinetech.PlanPoker/_UpgradeReport_Files/
Shinetech.PlanPoker/_NCrunch_*
*.favdoc
Shinetech.PlanPoker/.vs/config/applicationhost.config
!Shinetech.PlanPoker/Shinetech.PlanPoker.Repository.Tests/x64/
!Shinetech.PlanPoker/Shinetech.PlanPoker.Repository.Tests/x86/
