


<div class="container">
    <div ng-controller="dashboardController">
        <div class="all-players-cards-selected row" ng-show="selectedPoker.data!=''">
            <div class="scroll-container flex">
                <div class="card-rig card-in-hand card-flipped">
                    <div class="animation-wrapper">
                        <div class="card-container rotate face-up card-blue">
                            <div class="card card-back"></div>
                            <div class="card card-face">
                                <div class="small-card-id">
                                    <span>{{selectedPoker.text}}</span>
                                </div>
                                <div class="text-center player-vote"><span>{{selectedPoker.text}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="label label-inverse label-name">Joy</div>
                </div>

            </div>
        </div>
        <div>
            <div class="row" style="margin-top: 835px;">
                <div ng-repeat="poker in pokers.poker" ng-click="cardSelect(poker)">
                    <div class="card-rig card-in-hand card-flipped" ng-style="{{poker.myStyle}}"
                         ng-class="isFloat=='{{poker.data}}'?'up-float':''">
                        <div class="card-wrapper perspective-wrapper">
                            <div class="animation-wrapper">
                                <div class="card-container rotate face-up card-blue">
                                    <div class="card card-back"></div>
                                    <div class="card card-face">
                                        <div class="small-card-id">
                                            <span>{{poker.data}}</span>
                                        </div>
                                        <div class="text-center player-vote"><span>{{poker.data}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="css/estimatestyle.css" rel="stylesheet" />