<div ng-controller="dashboardParentController">
    <div class="container">
        <div ng-controller="dashboardController">
            <div class="all-players-cards-selected all-players-cards-content">
                <div class="text-center">
                    <div class="operation">
                        <div class="pull-left">
                            <button type="button" class="btn btn-primary  btn-lg" ng-disabled="!isShowResult||isClearEstimateBusy" ng-click="clearEstimate()">
                                
                                <span ng-show="!isClearEstimateBusy">Clean</span>
                                <span ng-show="isClearEstimateBusy">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>
                            </button>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-lg" ng-disabled="isShowResult||isShowEstimateBusy" ng-click="showEstimate()">
                                
                                <span ng-show="!isShowEstimateBusy">Show</span>
                                <span ng-show="isShowEstimateBusy">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>
                            </button>
                        </div>
                        <div>
                            <a class="btn btn-primary btn-lg" target="_blank" href="javascript:void(0)" ng-href={{href}}>View</a>
                        </div>
                    </div>
                </div>
                <div>
                    <div>
                        <div class="project-select">
                            <select class="form-control" ng-model="seletedProjectId" ng-change="changeProject(seletedProjectId)">
                                <option value="">Select Project</option>
                                <option ng-selected="projectId==project.Id" ng-repeat="project in projects" value="{{project.Id}}">{{project.Name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="all-players-cards-selected" ng-show="estimates.length">
                        <div class="scroll-container flex">
                            <div class="card-in-hand-in-hand card-flipped">
                                <div>
                                    <div class="col-sm-2 col-xs-3" ng-repeat="estimate in estimates">
                                        <div class="animation-wrapper animation-wrapper-poker">
                                            <div class="card-container rotate face-up card-blue">
                                                <div class="card card-face">
                                                    <div class="small-card-id">
                                                        <span>{{isShowResult?estimate.SelectedPoker:selectedPoker.text}}</span>
                                                    </div>
                                                    <div class="text-center player-vote"><span ng-show="isShowResult">
                                                        {{estimate.SelectedPoker}}</span>
                                                    <img ng-show="!isShowResult" class="user-image-poker" ng-src="{{estimate.UserImage?webAPI+estimate.UserImage:'/images/user.png'}}" /></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="label label-inverse label-name pull-left">{{estimate.UserName?estimate.UserName:estimate.Email | cutString:true:8:' ...'}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="isShowResult">
                    <h3>Plan average: {{averagePoint}} points</h3>
                </div>
            </div>
            <div class="row">
                <div ng-repeat="poker in pokers.poker" ng-click="cardSelect(poker)">
                    <div class="card-rig card-in-hand card-flipped card-poker" ng-style="{{poker.myStyle}}"pokerclass
                         ng-class="isFloat=='{{poker.data}}'?'up-float {{poker.pokerclass}}':'{{poker.pokerclass}}'">
                        <div class="card-wrapper perspective-wrapper">
                            <div class="animation-wrapper animation-wrapper-poker">
                                <div class="card-container rotate face-up card-blue" ng-class="isFloat=='{{poker.data}}'?'card-green':''">
                                    <div class="card card-face">
                                        <div class="small-card-id">
                                            <span>{{poker.data}}</span>
                                        </div>
                                        <div class="text-center player-vote"><span>{{poker.data}}</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container modal fade modal-responsive" id="profileModal" tabindex="-1" role="dialog"
         aria-labelledby="profileModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="mainbox input-box modal-dialog" ng-controller="profileController">
            <div class="panel panel-info modal-content" ng-init="getUserInfo()">
                <div class="panel-heading modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <div class="panel-title"> My profile </div>
                </div>
                <div class="panel-body">
                    <form name="updateForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Email</label>
                            <div class="col-md-9">
                                <input type="email" class="form-control" name="userEmail" ng-model="user.Email" ng-disabled="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">User Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="userName" ng-model="user.Name" required />
                                <span class="error" ng-show="updateForm.userName.$dirty && updateForm.userName.$invalid">
                                    <span ng-show="updateForm.userName.$error.required">User name is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">User Picture</label>
                            <div class="col-md-9">
                                <div class="img-upload-block">
                                    <img class="img-responsive user-image" ng-src="{{user.ImagePath?user.ImagePath:'/images/user.png'}}" ng-click="uploadUserPicture()" />
                                    <input id="imageUpload" class="hide" type="file" accept="image/*" file-reader ng-model="user.ImagePath" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn btn-primary btn-info" ng-disabled="updateForm.$invalid" ng-click="saveUserInfo()">
                                    <span ng-show="!isSaveProfileBusy">Save</span>
                                    <span ng-show="isSaveProfileBusy">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span>
                                </button>
                                <label ng-show="!isStatus" class="text-danger" ng-bind="message"></label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal-responsive" id="projectsModal" tabindex="-1" role="dialog"
         aria-labelledby="projectsModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 input-box" ng-controller="projectController">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <div class="panel-title"> My project </div>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12 panel-body-project">
                        <div class="col-sm-6">
                            <input class="form-control" ng-model="queryText" placeholder="Search..." />
                        </div>
                        <div class="col-sm-offset-2 col-sm-4">
                            <button class="btn btn-primary" ng-click="loadProjects(true)">
                                
                                <span ng-show="!isProjectSearchBusy">Search</span>
                                <span ng-show="isProjectSearchBusy">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>
                            </button>
                            <button class="btn btn-primary" ng-click="showModal()">
                                Create
                            </button>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Project name</th>
                                        <th>Owner name</th>
                                        <th>
                                            <div class="pull-right">Operation</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="project in projects">
                                    <td>
                                        <span>{{project.Name}}</span>
                                    </td>
                                    <td>
                                        <span>{{project.OwnerViewModel.Name}}</span>
                                    </td>
                                    <td style="width: 150px;">
                                        <div class="pull-right">
                                            <button ng-click="showParticipateModal(project.Id)" ng-show="project.OwnerViewModel.Id==LoginUserId" class="btn btn-info">
                                                <span class="fa fa-users"></span>
                                            </button>
                                            <button ng-click="showEditModal(project)" ng-show="project.OwnerViewModel.Id==LoginUserId" class="btn btn-success">
                                                <span class="fa fa-edit"></span>
                                            </button>
                                            <button ng-click="showDeleteModal(project,$index)" ng-show="project.OwnerViewModel.Id==LoginUserId" class="btn btn-danger">
                                                <span class="fa fa-remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-show="!pages.length">
                                    <td colspan="2" class="text-center">
                                        <span class="text-danger">No records found</span>
                                    </td>
                                </tr>
                            </table>
                            <nav>
                                <ul class="pagination" ng-show="pages.length">
                                    <li ng-click="gotoPage(currentPage-1)" ng-class="{true:'disabled',false:''}[currentPage==1]">
                                        <a href="javascript:void(0);" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li ng-class="{true:'active',false:''}[currentPage==page]" ng-repeat="page in pages" ng-click="gotoPage(page)"><a href="javascript:void(0);">{{page}}</a></li>
                                    <li ng-click="gotoPage(currentPage+1)" ng-class="{true:'disabled',false:''}[currentPage==pages.length]">
                                        <a href="javascript:void(0);" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="modal fade" id="projectCreateAndEdit" tabindex="-10" role="dialog" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close cancle-project" aria-label="Close" ng-click="cancleProjectModal()"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">
                                        <span ng-show="newProject.Id!=undefined">Edit Project</span>
                                        <span ng-show="newProject.Id==undefined">Create project</span>
                                    </h4>
                                </div>

                                <div class="modal-body">
                                    <form name="projectForm">
                                        <div class="form-group">
                                            <input type="hidden" ng-model="newProject.Id" />
                                            <label>Name</label>
                                            <input class="form-control"
                                                   type="text"
                                                   name="Name"
                                                   ng-model="newProject.Name"
                                                   required />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="saveProject()" class="btn btn-primary"
                                            ng-disabled="projectForm.$invalid || isProjectSaveBusy">
                                        <span ng-show="!isProjectSaveBusy">Save</span>
                                        <span ng-show="isProjectSaveBusy">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-default cancle-project" ng-click="cancleProjectModal()" tabindex="2">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="deleteProject" tabindex="-10" role="dialog" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close delete-project" aria-label="Close" ng-click="deleteProjectModal()"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">
                                        Delete project
                                    </h4>
                                </div>

                                <div class="modal-body">
                                    Are you sure you want to delete the project?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" ng-click="projectDelete()" ng-disabled="isProjectDeleteBusy" class="btn btn-danger">
                                        <span ng-show="!isProjectDeleteBusy">Delete</span>
                                        <span ng-show="isProjectDeleteBusy">
                                            <i class="fa fa-spinner fa-spin"></i>
                                        </span>
                                    </button>
                                    <button type="button" class="btn btn-default delete-project" tabindex="2" ng-click="deleteProjectModal()">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="participatesProject" tabindex="-10" role="dialog" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close delete-project" aria-label="Close" ng-click="closeParticipatesModal()"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">
                                        Participates
                                    </h4>
                                </div>

                                <div class="modal-body" ng-show="isShowParticipates">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Participates name</th>
                                                    <th>Participates email</th>
                                                    <th>
                                                        <div class="pull-right">Operation</div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tr ng-repeat="participate in participates">
                                                <td>
                                                    <span>{{participate.UserName}}</span>
                                                </td>
                                                <td>
                                                    <span>{{participate.Email}}</span>
                                                </td>

                                                <td style="width: 150px;">
                                                    <div class="pull-right">
                                                        <button ng-click="showDeleteParticipateModal(participate)" class="btn btn-danger">
                                                            <span class="fa fa-remove"></span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="modal fade" id="deleteParticipatesModal" tabindex="-10" role="dialog" data-backdrop="static" data-keyboard="false">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close delete-project" aria-label="Close" ng-click="closeDeleteParticipateModal()"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">
                                                        Delete participate
                                                    </h4>
                                                </div>

                                                <div class="modal-body">
                                                    Are you sure you want to delete the participate?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" ng-click="participateDelete()" ng-disabled="isParticipateDeleteBusy" class="btn btn-danger">
                                                        <span ng-show="!isParticipateDeleteBusy">Delete</span>
                                                        <span ng-show="isParticipateDeleteBusy">
                                                            <i class="fa fa-spinner fa-spin"></i>
                                                        </span>
                                                    </button>
                                                    <button type="button" class="btn btn-default delete-project" tabindex="2" ng-click="closeDeleteParticipateModal()">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer" style="text-align: left;">
                                    <form name="participatesForm">
                                        <h3>
                                            Invite other people?
                                        </h3>
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="Email" ng-model="InviteEmail" ng-change="changeEmail()" placeholder="Input other people email address" required />
                                            <span class="error" ng-show="participatesForm.Email.$dirty && participatesForm.Email.$invalid">
                                                <span ng-show="participatesForm.Email.$error.required">Email address is required.</span>
                                                <span ng-show="participatesForm.Email.$error.email">Invalid email address.</span>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary btn-info" ng-disabled="participatesForm.$invalid||isParticipateInviteBusy" ng-click="inviteUser()">
                                                <span ng-show="!isParticipateInviteBusy">Invite</span>
                                                <span ng-show="isParticipateInviteBusy">
                                                    <i class="fa fa-spinner fa-spin"></i>
                                                </span>
                                            </button>
                                            <span class="error" ng-show="isInviteSelf">
                                                <span>You cann't invite yourself.</span>
                                            </span>
                                            <span class="error" ng-show="isInvted">
                                                <span>You have invited it.</span>
                                            </span>
                                            <span class="success" ng-show="isSendEmail">
                                                <span>The email send successfully.</span>
                                            </span>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container modal fade modal-responsive" id="changePasswordModal" tabindex="-1" role="dialog"
         aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="mainbox input-box modal-dialog" ng-controller="changePasswordController">
            <div class="panel panel-info modal-content">
                <div class="panel-heading modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <div class="panel-title"> Change Password </div>
                </div>
                <div class="panel-body">
                    <form name="changePasswordForm" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Old Password</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="oldPassword" placeholder="Old Password" ng-model="user.oldpassword" required />
                                <span class="error" ng-show="changePasswordForm.oldPassword.$dirty && changePasswordForm.oldPassword.$invalid">
                                    <span ng-show="changePasswordForm.oldPassword.$error.required">Old password is required.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">New Password</label>
                            <div class="col-md-9">
                                <input type="password" id="password" class="form-control" name="password" placeholder="New Password" ng-model="user.password" ng-pattern="/^[a-zA-Z0-9_-]{6,16}$/" required>
                                <span class="error" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$invalid">
                                    <span ng-show="changePasswordForm.password.$error.required">Password is required.</span>
                                    <span ng-show="changePasswordForm.password.$error.minlength">This field minlength is six.</span>
                                    <span ng-show="changePasswordForm.password.$error.maxlength">This field maxlength is sixteen.</span>
                                    <span ng-show="changePasswordForm.password.$error.pattern">Only contain characters,numbers,underline, length between 6 and 16.</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Comfirm</label>
                            <div class="col-md-9">
                                <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" placeholder="Comfirm Password" password-check="password" ng-model="user.comfirmPassword" required>
                                <span class="error" ng-show="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$invalid">
                                    <span ng-show="changePasswordForm.confirmPassword.$error.required">Confirm is required.</span>
                                    <span ng-show="changePasswordForm.confirmPassword.$error.passwordmatch">Confirm is not equeal with password</span>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="button" class="btn btn-primary btn-info" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword()">
                                    <span ng-show="!isChangePasswordBusy">Save</span>
                                    <span ng-show="isChangePasswordBusy">
                                        <i class="fa fa-spinner fa-spin"></i>
                                    </span>
                                </button>
                                <label ng-show="isStatus" class="text-danger" ng-bind="message"></label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>