<div class="container" ng-controller="loginController">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 input-box">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title"> Sign In </div>
                <div class="forgot-password"> <a href="javascript:void(0);" ng-click="gotoRetrievePassword()">Forgot password?</a> </div>
            </div>
            <div class="panel-body panel-pad">
                <div class="alert alert-danger col-sm-12 login-alert"></div>
                <form name="signInForm" class="form-horizontal">
                    <div class="input-group input-box-user">
                        <span class="input-group-addon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <input type="email" class="form-control" name="userEmail" placeholder="somebody@example.com" ng-model="user.email" required/>
                    </div>
                    <span class="error" ng-show="signInForm.userEmail.$dirty && signInForm.userEmail.$invalid">
                        <span ng-show="signInForm.userEmail.$error.required">Email is required.</span>
                        <span ng-show="signInForm.userEmail.$error.email">Invalid email address.</span>
                    </span>
                    <div class="input-group input-box-user">
                        <span class="input-group-addon">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                        <input type="password" class="form-control" name="password" placeholder="password" ng-model="user.password" required>
                    </div>
                    <span class="error" ng-show="signInForm.password.$dirty && signInForm.password.$invalid">
                        <span ng-show="signInForm.password.$error.required">Password is required.</span>
                    </span>
                    <span class="error" ng-show="isError">{{message}}</span>
                    <div class="form-group margT10">
                        <div class="col-sm-12 controls">
                            <button class="btn btn-block btn-primary" ng-click="login()" ng-disabled="signInForm.$invalid">
                                Sign in
                            </button>
                            <!--<button type="button" class="btn btn-info " ng-disabled="signUpForm.$invalid" ng-click="testAuthorize()"> testAuthorize </button>
                            <button type="button" class="btn btn-info " ng-disabled="signUpForm.$invalid" ng-click="testGetUser()"> TestGetUser </button>
                            <button type="button" class="btn btn-info " ng-disabled="signUpForm.$invalid" ng-click="testUpdateUser()"> TestUpdate </button>-->
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div class="no-acc">
                                Don't have an account!
                                <a href="javascript:void(0);" ng-click="gotoRegister()"> Register Here </a>
                                <div class="pull-right">
                                    <a class="btn btn btn-primary social-login-btn"><i class="fa fa-qq" aria-hidden="true"></i></a>
                                    <a class="btn btn btn-primary social-login-btn"><i class="fa fa-weixin" aria-hidden="true"></i></a>
                                    <a class="btn btn btn-primary social-login-btn"><i class="fa fa-weibo" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div>
                    <span>UserId</span><input type="text" style="width: 80%" class="form-control" ng-model="UserId" />
                    <span>ProjectId</span><input type="text" style="width: 80%" class="form-control" ng-model="ProjectId" />
                    <span>SelectPoker</span><input type="text" style="width: 80%" class="form-control" ng-model="SelectPoker"/>
                    <button class="btn btn-block btn-primary" ng-click="TestEstimate()">
                        TestEstimate
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>