<div class="container">
    <div ng-controller="dashboardController">
        <div class="all-players-cards-selected all-players-cards-content text-center row">
            <div class="all-players-cards-selected row" ng-show="estimates.length">
                <div class="scroll-container flex">
                    <div class="card-in-hand-in-hand card-flipped">
                        <div class="row row-monitor">
                            <div class="col-sm-2 col-xs-4" ng-repeat="estimate in estimates">
                                <div class="animation-wrapper animation-wrapper-poker">
                                    <div class="card-container rotate face-up card-blue">                                        
                                        <div class="card card-face">
                                            <div class="small-card-id">
                                                <span>{{isShowResult?estimate.SelectedPoker:selectedPoker.text}}</span>
                                            </div>
                                            <div class="text-center player-vote">
                                                <span ng-show="isShowResult">
                                                    {{estimate.SelectedPoker}}
                                                </span>
                                                <img ng-show="!isShowResult" class="user-image-poker" ng-src="{{estimate.UserImage?webAPI+estimate.UserImage:'/images/user.png'}}" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="label label-inverse label-name pull-left">{{estimate.UserName?estimate.UserName:estimate.Email | cutString:true:8:' ...'}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="all-players-cards-selected row text-left" ng-show="isShowResult">
                <div class="row row-monitor">
                    <div class="col-md-6">
                        <h3>Plan average: {{averagePoint}} points</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
