<header class="navbar bs-docs-nav">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">Shinetech Plan Poker</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#profile">My Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<div class="container">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 input-box" ng-controller="profileController">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title"> Register </div>
            </div>
            <div class="panel-body">
                <form name="updateForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-md-3 control-label">Email</label>
                        <div class="col-md-9">
                            <input type="email" class="form-control" name="userEmail" ng-model="user.Email" ng-disabled="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">User Name</label>
                        <div class="col-md-9">
                            <input type="text" class="form-control" name="userName" ng-model="user.Name" required />
                            <span class="error" ng-show="updateForm.userName.$dirty && updateForm.userName.$invalid">
                                <span ng-show="updateForm.userName.$error.required">User name is required.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">User Picture</label>
                        
                        <div class="col-md-9">
                            <img class="img-responsive user-image" ng-src="{{user.ImagePath?'user.ImagePath':'/images/user.png'}}" alt="User Picture" />
                            <input type="file" id="imgUpload" ng-change="uploadUserPicture()" ng-model="image" accept="image/*" file-reader />
                            <label id="userPictureError" class="text-danger"></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <button type="button" class="btn btn-primary btn-info" ng-disabled="updateForm.$invalid" ng-click="updateUser()"> Save </button>
                            <label ng-show="isStatus" class="text-success" ng-bind="message"></label>
                            <label ng-show="!isStatus" class="text-danger" ng-bind="message"></label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>