<div class="container">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 input-box" ng-controller="retrievePasswordController">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title"> Retrieve Password </div>
                <div class="signin">
                    <a href="#login">Sign In</a>
                </div>
            </div>
            <div class="panel-body panel-pad">
                <div class="alert alert-danger col-sm-12 login-alert"></div>
                <form name="retrievePasswordForm" class="form-horizontal" role="form">
                    <div class="input-group input-box-user">
                        <span class="input-group-addon">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <input type="email" class="form-control" name="userEmail" placeholder="email" ng-model="emailtemplate.emailto" required />
                    </div>
                    <span class="error" ng-show="retrievePasswordForm.userEmail.$dirty && retrievePasswordForm.userEmail.$invalid">
                        <span ng-show="retrievePasswordForm.userEmail.$error.required">Email is required.</span>
                        <span ng-show="retrievePasswordForm.userEmail.$error.email">Invalid email address.</span>
                    </span>
                    <div class="form-group margT10">
                        <div class="col-sm-12 controls">
                            <button class="btn btn-block btn-primary" ng-disabled="retrievePasswordForm.$invalid" ng-click="retrievePassword()">Send Email</button>
                            <span class="error" ng-show="!isExistEmail">
                                <span>The email doesn't exist.</span>
                            </span>
                            <span class="success" ng-show="isExistEmail && isSendEmail">
                                <span>The email send successfully,please refer to.</span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 control">
                            <div class="no-acc">
                                <div class="pull-right">
                                    <a class="btn btn btn-primary social-login-btn"><i class="fa fa-qq" aria-hidden="true"></i></a>
                                    <a class="btn btn btn-primary social-login-btn"><i class="fa fa-weixin" aria-hidden="true"></i></a>
                                    <a class="btn btn btn-primary social-login-btn"><i class="fa fa-weibo" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>