.img-responsive {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
}


/* Large desktop */
@media (min-width: 1200px) {
  .hidden-tablet,
  .hidden-phone {
    display: inline-block;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .hidden-tablet,
  .hidden-phone {
    display: inline-block;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .hidden-tablet,
  .hidden-phone {
    display: none;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  .hidden-tablet,
  .hidden-phone {
    display: none;
  }
}







.all-players-cards-selected {
  padding-top: 20px;
  padding-left: 20px;
  overflow-y: scroll;
}
.edit-score-wrapper {
  position: absolute;
  width: 100%;
  bottom: 7px;
}
.editing-score {
  background-color: rgba(255, 255, 255, 0.2);
}
.score-title {
  line-height: 12px;
  text-align: center;
  margin-bottom: 10px;
}
.score-container {
  display: inline-block;
  width: 156px;
  vertical-align: top;
  margin-bottom: 12px;
}
.score-container .score-area {
  line-height: 82px;
}


.tabbed-box a,
.tabbed-box {
  color: #fff;
}






.player-list ul.pane-list .li-content > *:first-child {
  padding-left: 16px;
}

.hide-keep-space {
  visibility: hidden;
}



.card-rig {
  width: 100px;
  text-align: center;
}
.card-rig.empty-card,
.card-rig.card-in-play {
  height: 200px;
  float: left;
  margin-right: 10px;
}
.card-rig.card-in-deck {
  height: 140px;
}
.card-rig .perspective-wrapper {
  perspective: 700px;
  perspective-origin: 50% 50%;
}
@media (max-width: 888px) {
  .player-area .card-rig.empty-card,
  .player-area .card-rig.card-in-play {
    height: 0 !important;
    width: 56px;
    position: relative;
    top: -35px;
  }
  .player-area .card-rig .perspective-wrapper {
    transform: scale(0.5);
    position: relative;
    left: -20px;
  }
  .no-flexbox .player-area {
    width: 12%;
    float: left;
    margin-left: 12px;
  }
}
.player-area-card {
  margin-left: 13px;
}
.card-placement {
  height: 70px;
  margin-bottom: 8px;
  margin-right: 15px;
  display: inline-block;
}
.empty-card .card-back {
  background-image: url('../img/logo-cloudgrey-cardback.svg');
  border: 1px dashed #cbcbcb;
  background-color: #f8f8f8;
  margin: 1px;
}
.empty-card .card-back .hover {
  background-color: #c5c5c5;
}
.card-in-play .card-back {
  background-image: url('../img/logo-cloudwhite-cardback.svg');
  background-color: #656565;
  border: 2px solid #515151;
}
.card-in-play .card-back .hover {
  background-color: #c5c5c5;
}
.card-in-play .card-face {
  color: #fff;
  background-image: none;
}
.card-in-play.card-flipped .card-container {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card-wrapper {
  position: relative;
  width: 100px;
  height: 140px;
  z-index: 1;
}
.card-container {
  width: 100px;
  height: 140px;
  border-radius: 10px;
}
.card {
  -webkit-border-radius: 10px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 10px;
  -moz-background-clip: padding;
  border-radius: 10px;
  background-clip: padding-box;
  text-align: center;
  width: 100px;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  color: #fff;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 100ms ease-in-out;
  -moz-transition: -moz-transform 100ms ease-in-out;
  -o-transition: -o-transform 100ms ease-in-out;
  transition: -webkit-transform 100ms ease-in-out,-moz-transform 100ms ease-in-out,-o-transform 100ms ease-in-out,transform 100ms ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform:capitalize;
}
.card-green .card-face {
  background-color: #149c37;
  border: 2px solid #4b7500;
}
.card-green .card-face .hover {
  background-color: #16ae3d;
}
.card-blue .card-face {
  background-color: #0466d2;
  border: 2px solid #0b64a2;
}
.card-blue .card-face .hover {
  background-color: #0470e6;
}
.card-orange .card-face {
  background-color: #f97302;
  border: 2px solid #c86c00;
}
.card-orange .card-face .hover {
  background-color: #fd7e12;
}
.card-drk-grey .card-face {
  background-color: #2d2d2d;
  border: 2px solid #141414;
}
.card-drk-grey .card-face .hover {
  background-color: #373737;
}
.card-drk-grey .card-face .player-vote {
  font-size: 37px;
}
.card-grey .card-face {
  background-color: #656565;
  border: 2px solid #4b4b4b;
}
.card-grey .card-face .hover {
  background-color: #c5c5c5;
}
.card-face .player-vote {
  font-size: 46px;
  position: relative;
  padding-top: 34px;
}

.small-card-id {
  float: left;
  padding-left: 7px;
  position: absolute;
  font-size: 20px;
}
.player-cards-wrapper {
  position: relative;
  padding: 20px;
  padding-bottom: 0;
  background-color: #f8f8f8;
  border-top: 1px solid #4a4a4a;
  height: 180px;
  top: 25%;
}
.player-cards-wrapper .hover {
  background-color: #c5c5c5;
}
.card-in-hand {
  position: absolute;
  left: 0;
}
.card-in-hand.card-flipped .animation-wrapper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card-in-hand:hover .card-container,
.card-in-hand.selected .card-container {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}
.card-in-hand .card-container {
  -webkit-transition: -webkit-transform 0.3s ease;
  -moz-transition: -moz-transform 0.3s ease;
  -o-transition: -o-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease,-moz-transform 0.3s ease,-o-transform 0.3s ease,transform 0.3s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.all-players-cards-selected .perspective-wrapper {
  perspective: 1000;
}
.all-players-cards-selected .perspective-wrapper .card-container.face-down .card {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.all-players-cards-selected .perspective-wrapper .card-container.face-up .card-back {
  z-index: 0;
}
.all-players-cards-selected .perspective-wrapper .card-container.face-down .card-back {
  z-index: 1000;
}
.card-face {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
@font-face {
  font-family: 'robotolight';
  src: url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Light-webfont.eot');
  src: url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'), url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Light-webfont.woff') format('woff'), url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Light-webfont.ttf') format('truetype'), url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Regular-webfont.eot');
  src: url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Regular-webfont.woff') format('woff'), url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Regular-webfont.ttf') format('truetype'), url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Bold-webfont.eot');
  src: url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Bold-webfont.woff') format('woff'), url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Bold-webfont.ttf') format('truetype'), url('//d285fxnb20xv8r.cloudfront.net/fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}









@media (max-width: 871px) {
  .inner-page .header-nav {
    height: auto;
    padding-bottom: 20px;
  }
  .nav-logo {
    height: 60px;
    margin-left: 0px;
    text-align: center;
    width: 100%;
  }
  .header .help-container,
  .header .page-nav {
    height: 32px;
    line-height: 14px;
    margin-left: 6px;
  }
}
@media (max-width: 603px) {
  .header-nav .nav-link {
    font-size: 12px;
    margin: 0px;
    padding: 10px 6px;
  }
  .header .page-nav {
    padding-left: 0;
    margin-left: 0;
  }
}
@media (min-width: 871px) AND (max-width: 1200px) {
  .home .tagline {
    font-size: 42px;
  }
}
@media (min-width: 768px) AND (max-width: 871px) {
  .home .tagline {
    font-size: 34px;
    line-height: 40px;
  }
}
.form-group input[type='text'],
.form-group input[type='password'] {
  font-size: 20px;
}
.feedback-link {
  display: none;
  margin-top: 10px;
}
@media (min-width: 768px) {
  .feedback-link {
    display: block;
  }
}
.logo-container {
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .logo-container {
    margin-bottom: 10px;
  }
}
.main-content .content {
  margin-bottom: 40px;
}
.main-content-header {
  margin-bottom: 30px;
  margin-top: 35px;
}
.main-content-header .btn-sm {
  width: 100%;
}
.main-content-header p {
  margin-left: 0;
  margin-top: 0px;
  line-height: 1.2;
  font-size: 20px;
  margin-right: 0;
  padding-right: 0;
}
@media (max-width: 991px) {
  .main-content-header img {
    margin-right: 10px;
  }
}
.main-footer {
  padding-bottom: 60px;
}
.intercom-button-container a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  opacity: .7;
  transition: all .25s ease;
}
.intercom-button-container a img {
  max-height: 40px;
}
.intercom-button-container a:hover {
  opacity: 1;
  bottom: 13px;
  left: 13px;
}
.home .header-form-container .form-container {
  margin-bottom: 200px;
}
.home .header-form-container .old {
  color: #ffffff;
  font-size: 14px;
}
.thank-you .main-header {
  position: relative;
  padding-bottom: 105px;
  margin-bottom: 0;
  z-index: 1;
}
@media (min-width: 768px) {
  .thank-you .main-header .feedback-link {
    display: none;
  }
}
.thank-you .main-content:before,
.thank-you .main-content:after {
  z-index: 1;
}
.form-group .error {
  background-color: #f2dede;
}
.logo-container {
  margin-bottom: 70px;
}
@media (max-width: 767px) {
  .logo-container {
    margin-bottom: 10px;
  }
}
.up-float{
  animation:pokermove 0.5s;
  -webkit-animation:pokermove 0.5s ; 
  animation-fill-mode : forwards 
}
@keyframes pokermove
{
  from {bottom:0em;}
  to {bottom:6em;}
}
@-webkit-keyframes pokermove 
{
  from {bottom:0em;}
  to {bottom:6em;}
}