<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="PlanPoker" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PlanPoker.mdf;Initial Catalog=PlanPoker;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>